.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap; /* Add this to wrap the cards */
    
  }
  
  .card {
    width: calc(33.33% - 1rem);
    border: 1px solid #ccc;
    border: none;
    overflow: hidden;
    margin-bottom: 20px; /* Add some bottom margin */
    
  }
  
  @media (max-width: 960px) {
    /* Media query for mobile view */
    .card-row {
      flex-direction: column;
      align-items: stretch;
    }
  
    .card {
      width: 100%;
    }
  }
  